.alert {
    font-family: sans-serif;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.alert--type-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert--type-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert--type-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert--type-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert__dismiss-button {
    cursor: pointer;
    border-radius: 0.1rem;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-left: auto;
}

.alert__dismiss-button:hover {
    background: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.13);
}
