.app {
    padding: 2rem;
}

/* core styling for headings (just spacing) */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

